@font-face {
  font-family: "Avenir Light";
  src: local("Avenir Light"), url(fonts/AvenirLight.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(fonts/Poppins.ttf) format("truetype");
}
